on: [push]

env:
  IVY_VERSION: '2.5.3'
  IVY_SHA512: '19e38998eda66a635643f50eec1fe62aeaa4b66e7b12540e38ae9ab67f2402a4df1230c0fa142e391234abf8491b5cd46fa8a3b004324b511a495701be848470'

jobs:
  build_jar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'recurisve'
      - uses: ./.github/actions/install-java-with-ivy-ubuntu
        with:
          ivy_version: $IVY_VERSION
          ivy_sha512: $IVY_SHA512
      - run: |
          ant clean jar
      - uses: actions/upload-artifact@v4
        with:
          name: jar
          path: dist/jar

  build_javadoc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'recurisve'
      - uses: ./.github/actions/install-java-with-ivy-ubuntu
        with:
          ivy_version: $IVY_VERSION
          ivy_sha512: $IVY_SHA512
      - run: |
          ant clean javadoc
      - uses: actions/upload-artifact@v4
        with:
          name: javadoc
          path: dist/javadoc

  run_tests_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'recurisve'
      - uses: ./.github/actions/install-java-with-ivy-ubuntu
        with:
          ivy_version: $IVY_VERSION
          ivy_sha512: $IVY_SHA512
      - run: |
          ant clean test
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: linux_test_results
          path: test_results

  run_tests_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'recurisve'
      - uses: ./.github/actions/install-java-with-ivy-windows
        with:
          ivy_version: $IVY_VERSION
          ivy_sha512: $IVY_SHA512
      - run: |
          ant clean test
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: windows_test_results
          path: test_results

